# Python虚拟环境（你本机的 .venv 重点）
.venv/
venv/
env/
ENV/

# Python缓存文件
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Mac系统垃圾文件
.DS_Store
.AppleDouble

# IDE配置（vscode/pycharm）
.idea/
.vscode/
*.swp
*.swo

# 临时文件、密钥、本地配置
*.tmp
*.bak
.env
secret*.yaml

#推送脚本
push.sh